{% extends "base.html" %}
{% load static %}
{% block title %} Contact Us {% endblock %}

{% block content %}

<div class="container mt-4">
	<div class="text-center mt-2">
	    <h2><span class="badge bg-primary ">Contact Us</span></h2>
      <h4 class="fst-italic">Hello, {{user}}!<br></h4>
      <p class="fst-italic">For any queries please drop an email. Please find contact details as below</p>
	  <p class="fst-italic">Email : calpizzadeliverysystem.com</p>
	  </p>
   </div>
</div>



{% endblock %}