<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}


<!-- Custom Stylesheet -->
{% block stylesheet %} 
    <!-- Pizza Nav-Arrow -->
    <link rel="stylesheet" href="{% static 'css/home/index_pizza_arrow_sign.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/style_review.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}


<!-- Main Body -->
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col py-3 d-flex justify-content-center">
                <a href="{% url 'pizza_home:order_list' %}" 
                    class="text-white btn btn-lg btn-primary px-5">
                    View Orders
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="chatroom/" 
                    class="text-white btn btn-lg btn-primary px-5"               
                    >
                    Chat Room
                </a>
            </div>
        </div>

        <div class="row mt-5 pt-sm-0">
            
            {% for p in pizzas %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter my-4" >
                <div class="card product-card shadow border pb-2" >
                    <a 
                    href="/show_pizza_record/{{p.name}}"
                    class="d-block" data-toggle="modal">
                        <img src="{{ p.image.url }}" alt="Pizza" class="card-img-top">
                    </a>
                    <div  class="card-body pt-1 pb-2">
                        <a 
                            href="/show_pizza_record/{{p.name}}"
                         class="card-title pt-3"><h4>{{ p.name }}</h4>
                        </a>
    
                        <div class="d-flex align-item-center justify-content-between mt-4">
                            <div class="product-price d-flex align-item-center">
                                <span class="text-accent mt-2"> Price: ${{ p.price }}</span>
                            </div>

                             <a href="/show_pizza_record/{{p.name}}" class="btn btn-primary btn-md" 
                             type="button" data-toggle="toast" data-target="#cart-toast"> 
                             <span class="px-1">
                                <span class="mr-1 fw-bold">+</span>
                                <i class="fas fa-shopping-cart ml-1"></i>
                            </span>
                            </a>                           
                            </button>
                        </div>

                        <div class="restaurant-content mt-1 mb-3">
                            <p><i class="far fa-comment-dots"></i> <span id="review-count-{{p.id}}"></span> reviews</p>
                            <div id="avg-rate-{{p.id}}" class="my-test-div" data-star-review-id="{{p.id}}">
                                <span id="single-review-span-star-1" class="fa fa-star-o unchecked" data-star-id="1"></span>
                                <span id="single-review-span-star-2" class="fa fa-star-o unchecked" data-star-id="2"></span>
                                <span id="single-review-span-star-3" class="fa fa-star-o unchecked" data-star-id="3"></span>
                                <span id="single-review-span-star-4" class="fa fa-star-o unchecked" data-star-id="4"></span>
                                <span id="single-review-span-star-5" class="fa fa-star-o unchecked" data-star-id="5"></span>
                            </div>                           
                        </div>
                        <a href="/show_pizza_record/{{p.name}}" class="text-white btn btn-lg btn-primary px-5"  >
                            View Details</a>
                    </div>
                </div>
            </div>
           
            
            {% endfor %}

            
    
        </div>
        
        <!-- Pagination -->
        <!-- Pizza list arrow navigation -->
        <div class="row py-3 d-flex justify-content-center align-items-center">
            <!-- Left Arrow Sign -->
            {% if pizzas.has_other_pages %}
                <div class="col-1 mx-2 d-flex justify-content-center align-items-center">
                    {% if pizzas.has_previous %}
                        <i class="arrow left"
                            onclick="location.href='?page={{ pizzas.previous_page_number }}'"></i>
                    {% else %}
                        <i class="arrow left disabled"></i>
                    {% endif %}
                </div>

                <!-- Right Arrow Sign -->
                <div class="col-1 mx-2 d-flex justify-content-center align-items-center">
                    {% if pizzas.has_next %}
                        <i class="arrow right"
                            onclick="location.href='?page={{ pizzas.next_page_number }}'"></i>
                    {% else %}
                        <i class="arrow right disabled"></i>
                    {% endif %}
                </div>
            {% endif %}
        </div>

    </div>

{% endblock %}


<!-- Custom JS -->
{% block js %} 
    <script src="{% static 'js/index_api.js' %}"></script>
    <!-- Axios CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    
    <script type="text/javascript">       
        $(document).ready(function () {
            function getReviewAndRating(id) {
                $.ajax({
                    url: "{% url 'pizza_home:restaurant_rate' %}",
                    type: "GET",
                    // dataType: "json",
                    data: {
                        'restaurant_id': id,
                    },
                    success: function (data) {
                        $("#review-count-" + id).text(data.review_count);
                        $("#avg-rate-" + id).each((idx, elem) => {
                            let rate = Math.floor(data.avg_rate);
                            let arr = [];
                            arr.push($(elem).children("#single-review-span-star-1"));
                            arr.push($(elem).children("#single-review-span-star-2"));
                            arr.push($(elem).children("#single-review-span-star-3"));
                            arr.push($(elem).children("#single-review-span-star-4"));
                            arr.push($(elem).children("#single-review-span-star-5"));
    
                            let i = 0;
                            for (i = 0; i < arr.length; i++) {
                                if (i < rate) {
                                    arr[i].removeClass("unchecked").addClass("checked");
                                    arr[i].removeClass("fa-star-o").addClass("fa-star");
                                } else {
                                    arr[i].removeClass("checked").addClass("unchecked");
                                    arr[i].removeClass("fa-star").addClass("fa-star-o");
                                }
                            }
                        });
                    },
                    error: function (jqXHR, textStatus) {
                        console.log(jqXHR);
                        console.log("something wrong...");
                    },
                });
            }
    
            $("div.my-test-div").each((idx, elem) => {
                let rId = parseInt(elem.getAttribute("data-star-review-id"));
                getReviewAndRating(rId);
            });
        });
    
    </script>
{% endblock %}
