{% extends "base.html" %}
{% load static %}
{% block title %} Restaurant {% endblock %}
{% block content %}
<br />
<br />

<link rel="stylesheet" type="text/css" href="{% static 'css/home/style_review.css' %}"/>
<script src="https://code.jquery.com/jquery-3.3.1.js"
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="row justify-content-center">
        <!-- Pizza Detail Card -->
        <div class="col-5" style="width: 23rem;">
            <img src="{{ pizza.image.url }}" class="card-img-top" alt="pizza-image">
            <div class="card-body">               
                <p class="card-text" >Pizza Id: {{ pizza.id }}</p>
                <p class="card-text">Pizza Name: {{ pizza.name }}</p>
                <p class="card-text">Price: ${{ pizza.price }}</p>
                
                
                    <a href="/order_list/" onclick="createOrder('{{pizza.id}}')"
                        class="text-white btn btn-lg btn-primary px-5"> Order Now
                    </a>
                
            </div>               
        </div>
        <div class="col-6">
            <input type="hidden" id="hidden-restaurant-id" value="{{pizza.id}}">
            <h2>Customer Reviews </h2>
            <p><i class="far fa-comment-dots"></i>
                No. of reviews:
                <span id="span-review-count">{{reviews.count}}</span>
            </p>
            <p><i class="far fa-star"></i>
                Average Rating:
                <button class="btn btn-sm btn-dark" disabled id="span-avg-rate">{{avg_rate}}</button>
            </p>

                <!-- new review place -->
            <div  style="background:rgba(255,255,255,0.5);">
                    <div class="form-group">
                        <label for="textarea-review">Review</label>
                        <textarea class="form-control rounded-0" id="textarea-review" rows="3"
                            placeholder="Write something here..."></textarea>
            </div>
            <div >
                <span id="span-star-1" class="span-star fa fa-star-o unchecked" data-star-id="1"></span>
                <span id="span-star-2" class="span-star fa fa-star-o unchecked" data-star-id="2"></span>
                <span id="span-star-3" class="span-star fa fa-star-o unchecked" data-star-id="3"></span>
                <span id="span-star-4" class="span-star fa fa-star-o unchecked" data-star-id="4"></span>
                <span id="span-star-5" class="span-star fa fa-star-o unchecked" data-star-id="5"></span>
                <input type="hidden" id="hidden-total-star" value="0">
                <br><br>
                <button class="text-white btn btn-lg btn-primary px-5" id="btn-post-review" type="button">Post Review</button>
            </div>
        </div>
            <!-- review and comment -->
            <div id="my-review-div" >
                {% include 'pizza_home/review.html' %}
            </div>
        </div>
        
    </div>
</div>




{% block javascript %}
<script>
    $(document).ready(function () {
        
        // change the star css
        function setStarValue(arr, value) {
            let i;
            let thresh = parseInt(value);
            for (i = 0; i < arr.length; i++) {
                if (i < thresh) {
                    arr[i].removeClass("unchecked").addClass("checked");
                    arr[i].removeClass("fa-star-o").addClass("fa-star");
                } else {
                    arr[i].removeClass("checked").addClass("unchecked");
                    arr[i].removeClass("fa-star").addClass("fa-star-o");
                }
            }
        }

        // when the value of star hidden field changed
        $("#hidden-total-star").change(function () {
            let value = $(this).val();
            let arr = [];
            arr.push($("#span-star-1"));
            arr.push($("#span-star-2"));
            arr.push($("#span-star-3"));
            arr.push($("#span-star-4"));
            arr.push($("#span-star-5"));
            setStarValue(arr, value);
        });

        // when click the star
        $(document).on("click", ".span-star", function () {
            // alert(this);
            let tempId = parseInt($(this).attr("data-star-id"));

            // set the value and trigger the change event
            $("#hidden-total-star").val(tempId).trigger("change");
        });

        $("#btn-post-review").click(function (event) {
           
            let self = $(this);
            let restaurant_id = $("#hidden-restaurant-id").val();
            let description = $("#textarea-review").val();
            let rate = $("#hidden-total-star").val();

            console.log(self);
            console.log(restaurant_id);
            console.log(description);
            console.log(rate);

            if (description == null || description == "") {
                alert("review field is required");
                return;
            } else if (description.length > 255) {
                alert("max review length is 255");
                return;
            }

            if (rate <= 0) {
                alert("please rate the pizza ");
                return;
            }

            $.ajax({
                type: "GET",
                url: "{% url 'pizza_home:review_create' %}",
                // dataType: "json",
                data: {
                    "restaurant_id": restaurant_id,
                    "description": description,
                    "rate": rate,
                },
                success: function (data) {
                    
                        // clear the textarea
                        $("#textarea-review").val("");
                        // reset the star
                        $("#hidden-total-star").val("0").trigger("change");
                        // insert new html element
                        $("#my-review-div").html(data);

                        $.ajax({
                            url: "{% url 'pizza_home:restaurant_rate' %}",
                            type: "GET",
                            // dataType: "json",
                            data: {
                                'restaurant_id': restaurant_id,
                            },
                            success: function (data) {
                                let review_count = data.review_count;
                                let avg_rate = data.avg_rate;

                                $("#span-review-count").text(review_count);
                                $("#span-avg-rate").text(avg_rate);
                            },
                            error: function (jqXHR, textStatus) {
                                console.log(jqXHR);
                                console.log("something wrong...");
                            },
                        });
                    
                },
                error: function (jqXHR, status) {
                    console.log(jqXHR)
                },
            });
        });
    });
</script>
{% endblock javascript %}
{% endblock content %}
<!-- Custom JS -->
{% block js %} 

    <!-- Axios CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- c -->
    <script src="{% static 'js/index_api.js' %}"></script>


    
{% endblock %}